[flake8]
max-line-length = 88
extend-ignore = E203, W503, D100, D101, D102, D103, D104, D105, D106, D107, E501, E402, F401, F841, E712, E722, E303, W293, W391, F541, E302, W291
exclude = 
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    .mypy_cache,
    .pytest_cache
per-file-ignores = 
    __init__.py:F401
    tests/*:D
